.sort-icon-btn {
  background: transparent;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-icon-btn svg {
  font-size: 18px; 
  font-weight: 700;     
}

.sort-icon-btn .MuiSvgIcon-root {
  font-size: 25px;
}

.sort-select {
  background: transparent;
  border: none;
  outline: none;

  color: var(--color-primary);
  font-weight: 700;
  font-size: 14px;

  cursor: pointer;
  padding: 4px 6px;

  appearance: none;  
  -webkit-appearance: none;
  -moz-appearance: none;
}