.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.search-overlay-content {
  margin-top: 80px;
  width: 600px;
  max-height: 70vh;
  overflow-y: auto;
  pointer-events: auto;
  background: white;
  border-radius: 8px;
  padding: 16px;
}

.result-item {
  padding: 12px;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: row;
}

.basic-info {
  padding: 12px;
  border-bottom: 1px solid #eee;
  display: flex;
  flex-direction: column;
}

.productImage
{
  max-width: 120px; /* Povećali smo maksimalnu širinu za sliku (npr. sa 80px na 120px) */
  height: auto;
  display: block; /* Važno: slika je 'block' element */
  margin: 0 auto; /* Centriranje 'block' elementa unutar .centeredCell */
  padding: 10px;
}
