/* ProductTable.module.css */

.productGrid {
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white; 
  border-radius: 8px; 
  overflow: hidden; 
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2); 
}

.gridCell {
  text-align: center; 
  vertical-align: middle; 
  border: none; 
  padding: 20px; 
}

.productImage {
  max-width: 120px; 
  height: auto;
  display: block; 
  margin: 0 auto; 
  padding: 10px;
}


/* Primer minimalnog razdvajanja ako želite (uklonite ako ne trebate) */

.productGrid tr:not(:last-child) .gridCell {
  border-bottom: 1px solid #f0f0f0; 
}
.productGrid tr td:not(:last-child) {
  border-right: 1px solid #f0f0f0;
}
