.navigationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;     
  justify-content: space-around;
  height: 5vw;
  gap: 1rem;               
  background-color: #5B5F97;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;      
  gap: 0.5rem;
  border-left: 2px solid #FFC145;
}

.searchContainerInput {
  position: relative;
}

.rightside
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}