.navigationContainer {
  display: flex;
  flex-direction: row;
  align-items: center;     
  justify-content: space-around;
  height: 5vw;
  gap: 1rem;               
  background-color: var(--color-primary);
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;      
  gap: 0.5rem;
  border-left: 2px solid var(--color-accent);
}

.searchContainerInput {
  position: relative;
}

.rightside
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}