
.cellContainer {
  padding: 15px;
  line-height: 1.5; 
  text-align: center; 
}


.dataWrapper {
  max-width: 250px;
  margin: 0 auto; 
  text-align: left; 
}

.dataRow {
  margin: 0 0 8px; 
  display: flex; 
}

.dataRowNoMargin {
  margin: 0;
  display: flex;
}

.label {
  display: inline-block;
  min-width: 100px; 
  color: #6c757d; 
  font-weight: 500;
  flex-shrink: 0; 
}

.mainValue {
  font-size: 1.1em;
  font-weight: bold;
  color: #343a40;
}

.priceValue {
  color: #007bff;
  font-weight: bold;
  margin-right: 5px;
}

.positiveDiff {
  color: #28a745; 
  font-weight: bold;
}

.negativeDiff {
  color: #dc3545; 
  font-weight: bold;
}